*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner{
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 300px;
    
}
.team{
    position: absolute;
    color: white;
    font-size: 20px;
    bottom: 80px;
    margin: 0;
    padding: 0;
}
.sonic{
    position: absolute;
    color: white;
    font-size: 80px;
    bottom: 0;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 10px greenyellow;
}

.task-box{
    background-color: blanchedalmond;
    border-radius: 5px;
    box-shadow: 4px 4px 4px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 5px;
}

.task-text{
    margin: 5px;
}

button{
    padding: 2px;
}